#container {
  width: 99%;
  height: 98%;
  max-width: 500px;

  border: 1px solid var(--accent);
  border-radius: 10px;
  margin: auto;

  display: grid;
  grid-template-rows: auto 50px;

  #messages {
    display: flex;
    flex-direction: column;

    margin-top: 5px;

    overflow-y: auto;

    &> div {
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      margin: 0 5px 5px 5px;

      &:hover {
        #time {
          display: block;
        }
      }

      #dateBanner {
        align-self: center;

        color: var(--secondary);
        font-size: .9rem;
        font-family: var(--secondaryFont);
      }
      #sender {
        display: none;
        color: var(--text);
        font-family: var(--secondaryFont);
        font-size: .8rem;
      }
      #time {
        display: none;
        color: var(--text);
        font-family: var(--secondaryFont);
        font-size: .7rem;
      }
      #message {
        color: whitesmoke;
        font-family: var(--secondaryFont);
        font-size: 1.1rem;
        padding: 10px;

        max-width: 80%;

        background-color: #007c7c;

        border-radius: 5px;

        word-wrap: break-word;
      }

      &.showSender {
        margin: 5px 5px 5px 5px;
        #sender {
          display: block;
        }
        #time {
          display: block;
        }
      }
      &.fromMe {
        align-items: flex-end;

        #sender {
          display: none;
        }
        #message {
          background-color: var(--accent);
        }
      }
    }
  }

  #sendingBar {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 10px;
      width: 80%;

      color: var(--text);
      font-family: var(--secondaryFont);
      background-color: var(--primary);
      border-radius: 5px;
      border: 0;
    }

    svg {
      padding: 5px;
      margin-left: 5px;
      border: 0;
      cursor: pointer;

      #original-icon {
        fill: var(--accent);
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #container {
    margin: 20px auto;
    height: 80%;
  }
}
